.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1408px;
  height: 52px;
  color: #697180;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 1px solid #e0e5eb;
}
.root:hover {
  background-color: #f0f3f7;
}

.number_cell {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 17px;
  width: 31px;
}
.type_cell {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 120px;
}
.date_cell {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 160px;
}
.is_automatic_cell {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 128px;
}
.value_cell {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 146px;
}
.area_cell {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 430px;
}
.description_cell {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 304px;
}

.delete_cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
}
