.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 8px 16px 8px 16px;
  margin: 0;
  position: sticky;
  bottom: 0;
  z-index: 100;
  background: white;
}
.container_navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.pagination_button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ced5de;
  border-radius: 6px;
}
.pagination_button:hover {
  background: #f2f5f8;
}

.pagination_button_active {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ced5de;
  border-radius: 6px;
  background-color: #ced5de;
}

.ellipsis_container {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ced5de;
  border-radius: 6px;
  background-color: #ced5de;
}
