.root {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  background-color: #fee3e3;
  cursor: pointer;
}

.root:hover {
  background-color: #fed7d7;
}

.unVisible {
  display: none;
}
